.game-all {
  /* background: #284b63; */
}

.game-time-show {
    display: flex;
    align-items: center;
    /* background-color: #94d2bd; */
    background-image: url(../assets/Game4.jpg);
    /* background-position: bottom 10px center;  */
    width: 1850px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    height: 250px;
    padding-top: -20px;
}

.game-time-show .date {
    margin-top: 160px;
    margin-left: 30px;
    font-size: 30px;
    color: #fff;
}

.game-time-show h1 {
    font-family: "Playfair Display", serif;
    font-size: 70px;
    margin-left: 50px;
    margin-top: 140px;
    color: #fff;
}

.game-grid-all {
    text-align: center;
    /* background-color: #0f4c5c; */
    background-image: url(../assets/Game7.jpeg);
    background-size: cover;
    width: 1850px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 140px;
    padding-bottom: 80px;
    height: 640px;
}

.game-heading {
    font-size: 60px;
    color: #ccc;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: center;
    margin: 20px 0;
}

.word {
    font-family: "Poppins", sans-serif;
    font-size: 23px;
    font-weight: 700;
    justify-content: center;
    /* background-color: #94d2bd; */
    background-color: #d9d9d9;
    margin: 5px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 45px;
    padding-left: 45px;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
}

.word.selected {
    background-color: #d1e7dd;
}

.game-message {
    font-family: "Poppins", sans-serif;
    color: #ccc;
    font-size: 17px;
    font-weight: 500;
}

button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
} 


.correct-groups {
    margin-top: 20px;
    width: 740px;
    margin-left: auto;
    margin-right: auto;
}

.group-display {
    font-family: "Playfair Display", serif;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    height: 70px;
    color: black;
    padding: 10px;
    margin: 10px 0;
    align-items: center;
    justify-content: center;
}

.group-display-names {
    margin-top: -7px;
    font-weight: 400;
}

.the-game-has-been {
    font-family: "Playfair Display", serif;
    font-size: 30px;
    color: #fff;
}

.game-message {
    font-family: "Playfair Display", serif;
    font-size: 35px;
    color: #fff;
}

.group-display.fruits {
    background-color: #d8e2dc; 
}

.group-display.colors {
    background-color: #ffe5d9; 
}

.group-display.animals {
    background-color: #ffcad4; 
}

.group-display.vehicles {
    background-color: #9d8189; 
}



