/* .profile-all {
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: auto;
    margin-right: auto;
  }
  
  .profile-background {
    object-fit: cover;
    width: 100%;
    z-index: -999;
  }

  .profile-upper {
    z-index: 999;
    width: 600px;
    margin-top: -800px;
    margin-left: auto;
    margin-right: auto;
    background-color: #0077cc;
  }

  .profile-heading {
    text-align: center;
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
    font-weight: bold;
    font-family: "Playfair Display", serif;
  }
  
  .profile-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .profile-user {
    text-align: center;
  }
  
  .profile-username {
    font-size: 1.5rem;
    font-weight: 600;
    color: #0077cc;
  }
  
  .profile-email {
    font-size: 1rem;
    color: #555;
  }
  
  .profile-stats {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-top: 1px solid #ddd;
    padding-top: 20px;
  }
  
  .profile-stat-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    color: #333;
    margin: 0;
  }
  
  .profile-stat-label {
    flex-grow: 1;
    padding-right: 10px;
  }
  
  .profile-stat-item::before {
    content: '';
    flex-grow: 1;
    border-bottom: 1px dashed #ddd;
    margin: 0 10px;
  }
  

  .profile-stats-detail {
    margin-left: 50px;
    font-size: 20px;
    font-family: "Playfair Display", serif;
  } */

  .profile-all {
    background-color: #edf2f4;
    height: 100vh;
  }

  .profile-upper {
    padding-top: 190px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #8d99ae;
    align-items: center;
    border-radius: 25px;
  }

  .profile-heading {
    font-family: "Playfair Display", serif;
    margin-top: 50px;
    font-size: 39px;
    color: #edf2f4;
  }

  .profile-user {
    font-family: "Playfair Display", serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
  }

  .profile-email {
    margin-top: -10px;
    margin-bottom: 50px;
    font-size: 23px;
  }

  .profile-stats {
    font-family: "Playfair Display", serif;
    width: 600px;
    display: flex;
    flex-direction: column;
    background-color: #2b2d42;
    border-radius: 25px;
  }

  .profile-stats-detail {
    margin-left: 110px;
    color: #edf2f4;
    font-size: 22px;
    margin-top: 6px;
  }

  .profile-stats-detail-first {
    margin-top: 50px;
  }

  .profile-stats-detail-last {
    margin-bottom: 50px;
  }